<body>
    <div class="about">
        <p>Este sitio web ha sido desarrollado como último trabajo práctico del sprint 5 del módulo 3 de la
            Diplomatura de Desarrollo Web del Nodo Tecnologico de Catamarca
        </p>
        <p>
            La aplicación debe mostrar mi capacidad para consumir datos de una API externa, 
            persistencia en una Base de datos, manejo de operaciones CRUD y validaciones
        </p>
        <p>El sitio web permite las operaciones antes mencionadas para manejar registros de países hispanoamericanos</p>
    </div>
</body>