<footer class="w-full">
    <p class="text-center">&copy; Módulo 3 - Trabajo Práctico Final - by Víctor Francisco Ramirez Diaz - 2025</p>
    <p>Enlace a repositorio: <a href="https://github.com/VicRamD/tp_final_sprint5_mod3">https://github.com/VicRamD/tp_final_sprint5_mod3</a></p>
</footer>