<nav>
    <div>
        <ul>
            <li><a href="/">Página principal</a></li>
            <li><a href="/api/paises">Lista de países</a></li>
            <li><a href="/api/paises/agregar">Agregar país</a></li>
            <li><a href="/acerca">Acerca De</a></li>
        </ul>
    </div>
</nav>